@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  background: url(../images/bg-header.jpg) no-repeat;
  background-size: cover;
}
#header ._header {
  width: 1000px;
  height: 30px;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header ._header ._header-left {
  width: 70%;
  display: flex;
  align-items: center;
}
#header ._header ._header-left img {
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
#header ._header ._header-left p {
  margin: 0 10px;
  font-size: 14px;
  word-spacing: 3px;
}
#header ._header ._header-righ {
  width: 30%;
}
#header ._header ._header-righ ul {
  list-style: none;
}
#header ._header ._header-righ ul li {
  display: inline-block;
  margin: 0 5px;
}
#header ._header ._header-righ ul li a {
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
}

#menu {
  width: 1000px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
#menu .menu-left {
  width: 20%;
}
#menu .menu-left h1 {
  font-size: 40px;
  text-transform: capitalize;
}
#menu .menu-left h1 a {
  font-weight: bold;
}
#menu .menu-center {
  width: 70%;
}
#menu .menu-center ul {
  display: flex;
  justify-content: center;
}
#menu .menu-center ul li {
  margin: 0 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}
#menu .menu-center ul li a {
  text-transform: capitalize;
}
#menu .menu-center ul li a:hover {
  color: #ff6f61;
}
#menu .menu-center ul li:nth-child(3) ._sub-menu {
  display: none;
}
#menu .menu-righ {
  width: 10%;
}
#menu .menu-righ ul {
  display: flex;
  justify-content: center;
}
#menu .menu-righ i {
  margin-right: 15px;
}

#banner {
  display: block;
  width: 100%;
}
#banner ._banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#banner .item {
  display: flex;
  align-items: center;
  height: 50vh;
}
#banner .item div {
  width: 100%;
  text-align: center;
  color: #fff;
}
#banner .item div p {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
}
#banner .item div a {
  display: inline-block;
  background: #fff;
  color: #000;
  text-transform: capitalize;
  padding: 8px 15px;
  margin-top: 30px;
  transition: all .4s ease;
}
#banner .item div a:hover {
  background: #ff6f61;
}
#banner .item:first-child {
  background: rgba(0, 0, 0, 0.3) url(../images/cover-1.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: color;
}
#banner .item:nth-child(even) {
  background: rgba(0, 0, 0, 0.3) url(../images/cover-2.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: color;
}
#banner .item:last-child {
  background: rgba(0, 0, 0, 0.3) url(../images/cover-3.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: color;
}

#production {
  width: 1000px;
  margin: auto;
}
#production #shipping {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #000;
}
#production #shipping .shipping_left {
  width: 20%;
}
#production #shipping .shipping_left i {
  color: #ff6f61;
  text-align: right;
}
#production #shipping .shipping_right {
  width: 80%;
  text-align: left;
}
#production #shipping .shipping_right p:first-child {
  text-transform: uppercase;
  font-weight: bold;
}
#production #shipping .shipping_right p:last-child {
  text-transform: capitalize;
}
#production #startpicks {
  height: 70px;
}
#production #startpicks div {
  text-align: center;
  margin-top: 30px;
}
#production #startpicks div h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
#production #startpicks div p {
  font-weight: 400;
}
#production #bestPicks {
  display: block;
}
#production #bestPicks ._bestPick {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#production #bestPicks ._bestPick div {
  width: 100%;
  text-align: center;
}
#production #bestPicks ._bestPick div p {
  font-size: 22px;
  font-weight: 600;
  transition: all .4s ease;
}
#production #bestPicks ._bestPick .item {
  height: 35vh;
  margin-top: 25px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
#production #bestPicks ._bestPick .item:hover div p {
  margin-left: 20px;
}
#production #bestPicks ._bestPick .item:first-child {
  background: url(../images/product-1.jpg) no-repeat;
  background-size: cover;
  width: 30%;
}
#production #bestPicks ._bestPick .item:first-child p {
  color: #fff;
}
#production #bestPicks ._bestPick .item:nth-child(2) {
  background: url(../images/product-2.jpg) no-repeat;
  background-size: cover;
  width: 68%;
}
#production #bestPicks ._bestPick .item:nth-child(2) p {
  color: #545454;
  text-align: left;
}
#production #bestPicks ._bestPick .item:nth-child(3) {
  background: url(../images/product-3.jpg) no-repeat;
  background-size: cover;
  width: 68%;
}
#production #bestPicks ._bestPick .item:nth-child(3) p {
  color: #545454;
  text-align: left;
}
#production #bestPicks ._bestPick .item:last-child {
  background: url(../images/product-4.jpg) no-repeat;
  background-size: cover;
  width: 30%;
}
#production #bestPicks ._bestPick .item:last-child p {
  color: #fff;
}
#production #shopsItem {
  width: 100%;
}
#production #shopsItem ._shopsItem {
  height: 70px;
  margin-top: 20px;
}
#production #shopsItem ._shopsItem p {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
#production #shopsItem ._shopsSelect {
  margin-bottom: 30px;
}
#production #shopsItem ._shopsSelect ._select {
  height: 60px;
  margin: auto;
  background-color: #EDEDED;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#production #shopsItem ._shopsSelect ._select div {
  width: 20%;
  height: 30px;
  padding: 0 10px;
}
#production #shopsItem ._shopsSelect ._select div select {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #EDEDED;
  border-radius: 50px;
}
#production #shopsItem ._shopsSelect ._select div select option {
  display: inline-block;
  padding-left: 20px;
}
#production #shopsItem ._shopsSelect ._select div button {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #EDEDED;
  background: #ff6f61;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.4s ease;
  cursor: pointer;
}
#production #shopsItem ._Items {
  width: 100%;
  display: block;
}
#production #shopsItem ._Items .row-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
#production #shopsItem ._Items .row-item .item {
  margin-top: 30px;
}
#production #shopsItem ._Items .row-item .item .image {
  position: relative;
  overflow: hidden;
}
#production #shopsItem ._Items .row-item .item .image:hover .icon-image {
  display: block;
}
#production #shopsItem ._Items .row-item .item .icon-image {
  text-align: center;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: none;
}
#production #shopsItem ._Items .row-item .item .icon-image a {
  display: inline-block;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 #a0a0a0;
  margin: 0 5px;
  transition: all .4s ease;
}
#production #shopsItem ._Items .row-item .item .icon-image a:hover {
  color: #fff;
  background: #ff6f61;
}
#production #shopsItem ._Items .row-item h5 {
  font-weight: 500;
  font-size: 15px;
  margin-left: 5px;
  padding-top: 5px;
}
#production #shopsItem ._Items .row-item p {
  font-size: 14px;
  color: #545454;
  margin-left: 5px;
  padding-top: 5px;
}
#production #shopsItem ._Items .row-item p del {
  font-size: 12px;
  color: #545454;
}

#news {
  width: 1000px;
  margin: auto;
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
#news .item-news {
  width: 485px;
  display: flex;
  justify-content: space-between;
}
#news .item-news .news-left {
  width: 17%;
  height: 130px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
#news .item-news .news-left .date {
  width: 100%;
  height: 100px;
}
#news .item-news .news-left .date span {
  display: inline-block;
  padding: 5px;
}
#news .item-news .news-left .date span:first-child {
  font-size: 40px;
}
#news .item-news .news-left .share {
  display: flex;
  position: relative;
}
#news .item-news .news-left .share span {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  text-align: center;
  background-color: #FF6F61;
  cursor: pointer;
}
#news .item-news .news-left .share .social {
  position: absolute;
  right: -135px;
  display: flex;
  opacity: 0;
  transition: all 0.6s ease;
}
#news .item-news .news-left .share .social a {
  display: inline-block;
  background-color: #FF6F61;
  width: 30px;
  line-height: 30px;
  border-left: 1px dashed #00000070;
  transition: all 0.4s ease;
}
#news .item-news .news-left .share .social a:hover {
  background-color: #00000070;
  color: #FF6F61;
}
#news .item-news .news-right {
  width: 80%;
}
#news .item-news .news-right a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
}
#news .item-news .news-right .title-news {
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
#news .item-news .news-right .title-news:hover {
  transition: all 0.4s ease;
}

#footerMenu {
  width: 100%;
  background-color: #F5F5F5;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding: 30px 0;
}
#footerMenu ._footerMenu {
  width: 860px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#footerMenu ._footerMenu .item {
  width: 150px;
}
#footerMenu ._footerMenu .item h4 {
  font-size: 18x;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #9e9898;
}
#footerMenu ._footerMenu .item ul {
  padding-top: 10px;
}
#footerMenu ._footerMenu .item ul li {
  padding-bottom: 3px;
}

#footer {
  width: 100%;
  background: #000;
}
#footer div {
  width: 980px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
#footer div p {
  color: #fff;
  background: #000;
}

/*# sourceMappingURL=style.css.map */
